*.iml
.gradle
local.properties
**/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/assets/imagefs.txz
app/src/main/assets/imagefs.tzst
app/src/main/assets/proton-9.0-x86_64.txz
app/src/main/assets/proton-9.0-x86_64.tzst
app/src/main/assets/proton-10-arm64ec.txz
app/src/main/assets/proton-10-arm64ec.tzst
app/src/main/assets/proton-9.0-arm64ec.txz
app/src/main/assets/proton-9.0-arm64ec.tzst

# Build outputs & APKs
*.apk
*.aab
*.dm
*.ap_
*.dex
output-metadata.json
/app/antutu/
/app/standard/
/app/ludashi/
/app/pubg/
/app/build/
build/
bin/

# Keystores & signing keys
/keystore/
*.jks
*.keystore
*.key
*.p12
*.pem

